<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.
0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>/home/dhall/.m2/repository</localRepository>
  <interactiveMode>true</interactiveMode>
  <usePluginRegistry>false</usePluginRegistry>
  <offline>false</offline>
  <mirrors>
    <mirror>
      <id>maven-central</id>
      <name>maven-central</name>
      <url>https://maven.example.com/repository/maven-central</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
      <id>internal-deployment</id>
      <name>internal-deployment</name>
      <mirrorOf>*</mirrorOf>
      <url>https://maven.example.com/repository/maven-internal-deploy</url>
    </mirror>
  </mirrors>
</settings>
